[submodule "deps/whisper.cpp"]
	path = deps/whisper.cpp
	url = https://github.com/ggml-org/whisper.cpp

[submodule "deps/llama.cpp"]
	path = deps/llama.cpp
	url = https://github.com/ggml-org/llama.cpp
