# Exclude everything
/*

!.gitmodules

# Except for default project files
!/.github
!/build-aux
!/cmake
!/data
!/src
!.clang-format
!.gersemirc
!.gitignore
!buildspec.json
!CMakeLists.txt
!CMakePresets.json
!LICENSE
!README.md
!README_*.md

# Exclude lock files
*.lock.json
!.clangd

# Exclude macOS legacy resource forks
.DS_Store

# Exclude CMake build number cache
/cmake/.CMakeBuildNumber
!/deps/
/deps/*
/deps/llama.cpp
/deps/whisper.cpp

!/models/
/models/**
!/models/**/
!/models/**/.gitkeep

!docs
!tools
tools/**
!tools/*.py